body {
  background-color: #f5f5f5;
  font-family: 'Saira Extra Condensed', sans-serif;
  font-size: 16pt;
}

section.content {
  max-width: 650px;
  margin: 0 auto;
  color: #4e4d4e;
}

aside {
  font-size: 12pt;
  color: rgb(120, 120, 120);
}

a,
a:visited,
a:active {
  color: #0099cc;
}

h1{
  font-size: 52px;
}

#title-what-you-can {
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #009193;
}

li{
   font-size: 22px;
}

.content img {
  margin-right: 16px;
}

/*Mobile*/

@media screen and (max-width: 680px) {

  h1 {
  font-size: 32px;

  }

  section.content {
    margin-left: 20px;

  }
}
